@model TinTuc.Models.NguoiDung
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-uppercase mt-3 mb-3">Đăng ký tài khoản</h2>
<hr />
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm("Register", "Login"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <label for="UserName" class="mb-2">Tài khoản</label>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="mb-2">Mật khẩu</label>
                            <input type="password" class="form-control" name="Password" />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="TenND" class="mb-2">Tên người dùng</label>
                            @Html.EditorFor(model => model.TenND, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenND, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="NgaySinh" class="mb-2">Ngày sinh</label>
                            <input type="date" class="form-control" name="NgaySinh" />
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="GioiTinh" class="mb-2">Giới tính</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Tạo tài khoản" class="btn btn-success" /> |
                                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
