@model TinTuc.Models.BanTin
@{
    ViewBag.Title = "Xoá bản tin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/Resources/CSS/FormDetail.css'>

<div class="m-2">
    @Html.ActionLink(" < Quay lại", "Index", null, new { @class = "btn btn-primary mt-2 mb-2" })
</div>
<h2 class="text-uppercase mx-3">Bạn có muốn xoá bài đăng này?</h2>
<hr />
<section class="m-2">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-md-6">
                    <div class="Sold">
                        <table>
                            <tr>
                                <th>Tên danh mục</th>
                                <td>@Html.DisplayFor(model => model.DMBanTin.TenDM)</td>
                            </tr>
                            <tr>
                                <th>Tiêu đề</th>
                                <td>@Html.DisplayFor(model => model.TieuDe)</td>
                            </tr>
                            <tr>
                                <th>Ngày đăng</th>
                                <td>@Model.NgayDang.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <th>Đánh giá</th>
                                <td>@Html.DisplayFor(k => k.SoSao) *</td>
                            </tr>
                        </table>
                        <div class="row text-center mt-3">
                            <div class="col-md-6">
                                @Html.ActionLink("Chỉnh sửa", "Edit", "Property", new { id = Model.ID }, new { @class = "btn btn-outline-warning" })
                            </div>
                            <div class="col-md-6">
                                @using (Html.BeginForm("Delete", "News"))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Xoá bài" class="btn btn-outline-danger" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">

                </div>
            </div>
        </div>
    </div>
</section>