@model IEnumerable<TinTuc.Models.BanTin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-uppercase mt-3 mb-3">Quản lý bài viết</h2>
<p>
    @Html.ActionLink("Tạo bài viết", "Create", "News", null, new { @class = "btn btn-outline-primary" }) | 
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Tạo danh mục
    </button>
    @Html.Action("CatePartial", "Category")
</p>
<table class="table">
    <tr>
        <th>
            ID bài báo
        </th>
        <th>
            Tên Danh mục
        </th>
        <th style="width: 25%;">
            Tiêu đề
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Đánh giá
        </th>
        <th>
            Hành động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMBanTin.TenDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @string.Format(item.NgayDang.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSao)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", "News", new { id = item.ID }, new { @class = "btn btn-outline-warning" }) |
                @Html.ActionLink("Xoá", "Delete", "News", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
